    @import "../node_modules/bootstrap/scss/bootstrap";
    $utilities: map-merge( $utilities, ( "cursor": ( property: cursor, class: cursor, responsive: true, values: auto pointer grab, )));
    .colors {
        headings: #294770;
        button: #518be0;
        input: #eff1f7;
        text: #85a5d2;
    }
    
    body {
        background-color: #85a5d2;
    }
    
    .button {
        background-color: #ffffff;
        color: #518be0;
        padding: 0.25rem 1rem;
        border: #518be0 solid 2px;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
    }
    
     ::placeholder {
        color: #518be0;
    }
    
    // .button {
    //     background-color: #518be0;
    //     color: #f7f9fd;
    //     border: none;
    //     text-align: center;
    //     text-decoration: none;
    // }