<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand item" href="#">EMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px"></ul>
            <div class="d-flex" role="search">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px">
                    <li class="nav-item new">
                        <a class="nav-link" routerLink="/private/shortlist" routerLinkActive="active">add employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link item" routerLink="/private/home">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link item" routerLink="/login">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>