nav {
    background-color: #e5eaf6;
}

.item {
    color: #294770;
}

.new {
    background-color: #294770;
    border-radius: 1vh;
    color: white !important;
    padding: -.1vh .5vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}