<div class="container">

    <div class="row">
        <!-- picture -->
        <div class="col-md-2">
            <div class="border border-5 ounded-circle"></div>
        </div>

        <!-- name -->
        <div class="col-md-6 mt-3">
            <h4>Name Last</h4>
            <h6>Position</h6>
        </div>

        <!-- action -->
        <div class="col-md-3 d-flex justify-content-end align-items-center">
            <button class="button" type="submit"><p class="dot">...</p></button>

        </div>
    </div>





    <div class="row ">

        <div class="col-md-6 border border-1">
            <i class="fa fa-mobile" aria-hidden="true"></i> contactno
        </div>

        <div class="col-md-6 border border-1 ">
            <i class="fa fa-envelope-o" aria-hidden="true"></i> email
        </div>


    </div>
</div>




<div class="tab-wrap">

    <!-- active tab on page load gets checked attribute -->
    <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
    <label for="tab1">Personal</label>

    <input type="radio" id="tab2" name="tabGroup1" class="tab">
    <label for="tab2">Documents</label>

    <input type="radio" id="tab3" name="tabGroup1" class="tab">
    <label for="tab3">Leaves</label>

    <div class="tab__content">
        <h3>General Information</h3>
        <div class="row">

            <div class="col-md-6">
                <span>joining date</span>
                <p></p>
            </div>

            <div class="col-md-6">
                <span>Position</span>
            </div>

            <div class="col-md-6">
                <span>Manager</span>
            </div>
            <div class="col-md-6">
                <span>Employment Type</span>
            </div>
        </div>

        <hr>

        <h3>Contract Information</h3>
        <div class="row">

            <div class="col-md-6">
                <span>contract type</span>
            </div>

            <div class="col-md-6">
                <span>Salary</span>
            </div>

            <div class="col-md-6">
                <span>Start Date</span>
            </div>
            <div class="col-md-6">
                <span>End Date</span>
            </div>
        </div>


        <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
    </div>

    <div class="tab__content">
        <h3>Documents</h3>
        <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

        <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.</p>
    </div>

    <div class="tab__content">
        <h3>Leaves</h3>
        <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

        <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.</p>

        <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

        <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.</p>
    </div>

</div>