<div class="container">

    <div class="row">
        <!-- picture -->
        <div class="col-md-2">
            <div class="border border-5 ounded-circle"></div>
        </div>

        <!-- name -->
        <div class="col-md-6 mt-3">
            <h4>{{employee?.first_name |titlecase }} {{employee?.last_name |titlecase}}</h4>
            <h6>{{employee?.position |titlecase }}</h6>
        </div>

        <!-- action -->
        <div class="col-md-3 d-flex justify-content-end align-items-center gap-1">
            <!-- edit -->
            <button class="button" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                    class="fa fa-pencil" aria-hidden="true"></i></button>
            <!-- delete -->
            <button class="button" type="submit" (click)="deleteEmployee()"><i class="fa fa-trash"
                    aria-hidden="true"></i></button>
        </div>
    </div>


    <div class="row ">

        <div class="col-md-6 border border-1">
            <i class="fa fa-mobile" aria-hidden="true"></i> {{employee?.contactno }}
        </div>

        <div class="col-md-6 border border-1 ">
            <i class="fa fa-envelope-o" aria-hidden="true"></i> {{employee?.email }}
        </div>


    </div>
</div>




<div class="tab-wrap">

    <!-- active tab on page load gets checked attribute -->
    <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
    <label for="tab1">Personal</label>

    <input type="radio" id="tab2" name="tabGroup1" class="tab">
    <label for="tab2">Documents</label>

    <input type="radio" id="tab3" name="tabGroup1" class="tab">
    <label for="tab3">Leaves</label>

    <div class="tab__content">
        <h4>General Information</h4>
        <div class="row">

            <div class="col-md-6">
                <span>Employment ID</span>
                <p>{{employee?.emp_id }}</p>
            </div>

            <div class="col-md-6">
                <span>Full Name</span>
                <p>{{employee?.first_name |titlecase }} {{employee?.last_name |titlecase}}</p>
            </div>

            <div class="col-md-6">
                <span>Position</span>
                <p>{{employee?.position |titlecase }}</p>
            </div>
            <!-- 
           
            <div class="col-md-6">
                <span>Employment Type</span>
                <p>Hybrid</p>
            </div> -->
        </div>

        <hr>

        <h4>Contract Information</h4>
        <div class="row">

            <!-- <div class="col-md-6">
                <span>contract type</span>
                <p>full time</p>
            </div> -->

            <div class="col-md-6">
                <span>Salary</span>
                <p>{{employee?.salary |currency:'R '}}</p>
            </div>

            <div class="col-md-6">
                <span>Start Date</span>
                <p>{{employee?.start_date |date }}</p>
            </div>
            <div class="col-md-6">
                <span>End Date</span>
                <p *ngIf="employee?.end_date === null">Not specified</p>
                <p *ngIf="!employee?.end_date === null">{{employee?.end_date }}</p>
            </div>
        </div>


    </div>

    <div class="tab__content">
        <h4>Documents</h4>

        <div class="row">

            <div class="col-md-6">
                <span>ID/Passport</span>
                <p></p>
            </div>

            <div class="col-md-6">
                <span>Highest Qualification</span>
            </div>

            <div class="col-md-6">
                <span>Contract</span>
            </div>
            <div class="col-md-6">
                <span>Resume</span>
            </div>
        </div>
    </div>

    <div class="tab__content">
        <h4>Leaves</h4>
        <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

    </div>

</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="row">
                        <!-- contact number -->
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Contact number</label>
                                <input type="number" [(ngModel)]="employee.contactno" name="contactno" required class="form-control">
                            </div>
                        </div>

                        <!-- email -->
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Email</label>
                                <input type="email" [(ngModel)]="employee.email" name="email" class="form-control">
                            </div>
                        </div>

                        <!-- position -->
                        <div class="col-6">
                            <div class="mt-3">
                                <label class="label">Position</label>
                                <select class="form-select" [(ngModel)]="employee.position" name="position">
                                    <option *ngFor="let option of positions" [value]="option.value">{{ option.label }}
                                    </option>
                                </select>w
                            </div>
                        </div>

                        <!-- salary -->
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Salary</label>
                                <input type="number" [(ngModel)]="employee.salary" name="salary" class="form-control">
                            </div>
                        </div>

                        <!-- end date -->
                        <div class="col-6 ">
                            <div class="mb-3 ">
                                <label for="exampleInputPassword1 " class="form-label ">End date</label>
                                <input type="date" [(ngModel)]="employee.end_date" name="end_date" class="form-control ">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="editEmployee() ">Save changes</button>
            </div>
        </div>
    </div>
</div>